@media all {

    html {
        align-content: center;
        align-items: center;
        text-align: center;
    }
}

@media all and (max-width: 4000px) {

    #wrapper {
        width: 2000px;
        padding: 10px;
        margin: auto;
        background-color: aquamarine;
    }

}

@media all and (max-width: 1920px) {

    #wrapper {
        width: 1200px;
        padding: 10px;
        margin: auto;
        background-color: brown;
    }
}

@media all and (max-width: 1024px) {

    #wrapper {
        width: 700px;
        padding: 10px;
        margin: auto;
        background-color: yellow;
    }
}

@media all and (max-width: 640px) {

    #wrapper {
        width: 500px;
        padding: 10px;
        margin: auto;
        background-color: cadetblue;
    }
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.biggay {
    background-position: center;
    background-color: deeppink;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


